tr
    th
    th Monday
    th Tuesday
    th Wednesday
    th Thursday
    th Friday
    th Saturday
    th Sunday
tr
    td.row-label 2pm-3pm
    td 
    td 
    td 
    td 
    td 
    td jsleavit
    td 
tr
    td.row-label 3pm-4pm
    td 
    td 
    td 
    td 
    td 
    td jsleavit
    td 
tr
    td.row-label 4pm-5pm
    td 
    td 
    td 
    td 
    td 
    td 
    td 
tr
    td.row-label 5pm-6pm
    td pclay
    td 
    td 
    td 
    td 
    td 
    td zkahn
tr
    td.row-label 6pm-7pm
    td pclay
    td 
    td 
    td 
    td 
    td 
    td zkahn
tr
    td.row-label 7pm-8pm
    td jmw7
    td 
    td 
    td 
    td 
    td 
    td hdrosen
tr
    td.row-label 8pm-9pm
    td jmw7
    td 
    td 
    td ewald
    td 
    td 
    td hdrosen
tr
    td.row-label 9pm-10pm
    td nmalkin
    td 
    td 
    td ewald
    td 
    td 
    td 
tr
    td.row-label 10pm-11pm
    td nmalkin
    td 
    td 
    td 
    td 
    td 
    td 
