p Lab sections will be held:
ul
    li Friday, 3-5 PM (ewald, jsleavit)
    li Saturday, 4-6 PM (hdrosen, pclay)
    li Sunday, 3-5 PM (jmw7, zkahn)

// To show lab assignments, I used a Google Spreadsheet, which can be published
// to the web. Google then provides the code to embed in an iframe, which
// is pasted below.
